---
layout: default
banner:
  video: /assets/videos/kings-peak_stabilized_h264.webm
  credit: "Tech Tana"
  credit_url: "https://github.com/techtana"
---

<div class="gallery">
  {% assign photography_files = site.static_files | where: "collection", nil | where_exp: "item", "item.path contains '/assets/images/photography/'" %}
  {% for file in photography_files %}
    <div class="gallery-item">
      <img src="{{ file.path | relative_url }}" alt="{{ file.name }}">
    </div>
  {% endfor %}
</div>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px; /* Ensure rows are at least 300px */
    gap: 0; /* Remove gaps */
    padding: 0; /* Remove padding to allow tessellation */
  }
  .gallery-item {
    border: none; /* Remove border */
    padding: 0.5em;
    text-align: center;
    overflow: hidden; /* Hide overflowing parts of the image */
    position: relative; /* For z-index to work */
    transition: transform 0.3s ease; /* Smooth transition for transform */
  }
  .gallery-item:hover {
    transform: scale(1.2); /* Enlarge by 10% on hover */
    z-index: 1; /* Bring to front */
    overflow: visible; /* Allow content to overflow */
  }
  .gallery-item img {
    width: 100%; /* Make image fill the container */
    height: 100%; /* Make image fill the container */
    object-fit: cover; /* Crop if needed */
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin: 0 auto; /* Center the image */
  }
  .gallery-item img:hover {
    object-fit: contain; /* Display full image, no cropping */
    max-width: 2400px;
    max-height: 2400px;
  }
</style>